<div class="box box-primary">
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <label for="entreprise_id">Company:</label>
          <select class="form-control" onchange="loadRepresentants()" id="entreprise_id" name="entreprise_id">
            <option value="1">company1</option>
          </select>
        </div>
      </div>
    </div>

  <label for="rep-create-select-choice" style="margin-left: 10px ">Representant:</label>
  <div class="content">
    <div>
      <select class="form-control" name="rep-create-select-choice" (change)="representantToggle()">
        <option name="entreprise-representant"> Create New </option>
        <option name="entreprise-representant" selected=""> Select Existing </option>
      </select>
    </div>

    <div id="ev-representant-create" [hidden]="hidden">
      <div>

        <div class="box-body">
          <div class="row">
            <form method="POST" action="http://localhost:8000/representants" accept-charset="UTF-8">
              <input name="_token" type="hidden" value="f6AnL61DchpCs2oiwXXPJQgMD53VLzgifPAWgbqn">

              <!-- First Name Field -->
              <div class="form-group col-sm-6">
                <label for="first_name">First Name:</label>
                <input class="form-control" required="" name="first_name" type="text" id="first_name">
              </div>

              <!-- Last Name Field -->
              <div class="form-group col-sm-6">
                <label for="last_name">Last Name:</label>
                <input class="form-control" required="" name="last_name" type="text" id="last_name">
              </div>

              <!-- Email Field -->
              <div class="form-group col-sm-6">
                <label for="email">Email:</label>
                <input class="form-control" required="" name="email" type="email" id="email">
              </div>

              <!-- Phone Field -->
              <div class="form-group col-sm-6">
                <label for="phone">Phone:</label>
                <input class="form-control" name="phone" type="text" id="phone">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="ev-representant-select">
      <div class="content">
        <div>
          <div class="row">
            <div id="ev-representant-select-contents" class="col-sm-12" style="margin-bottom: 50px;">
              <div>
                <input class="checkbox-inline" name="representant_id[]" type="checkbox" value="1"> clientName1 lcientLastName1</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>