<div class="box box-primary">
  <div class="box-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="info-box">
          <span class="info-box-icon bg-blue">
            <i class="fa fa-list-alt"></i>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">{{cubesTitle[0]}}</span> 
            <span class="info-box-text">{{cubesData[0]}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>

      <div class="col-sm-6">
        <div class="info-box">
          <span class="info-box-icon bg-aqua">
            <i class="fa fa-cube"></i>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">{{cubesTitle[1]}}</span> 
            <span class="info-box-text">
              <i class="fa fa-calendar"></i> N/A</span>
            <span class="info-box-text">
              <i class="fa fa-clock-o"></i> N/A</span>
            <span class="info-box-text">
              <i class="fa fa-clock-o"></i> N/A</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>

      <div class="col-sm-6" *ngIf="cubesTitle.length>3">
        <div class="info-box">
          <span class="info-box-icon bg-green">
            <i class="fa fa-calendar-o"></i>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">{{cubesTitle[3]}}</span> 
            <span class="info-box-text">
              <i class="fa fa-calendar"></i> {{cubesData[3]}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>
      <div class="col-sm-6" *ngIf="cubesTitle.length>2">
        <div class="info-box">
          <span class="info-box-icon bg-aqua">
            <i class="fa fa-picture-o"></i>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">{{cubesTitle[2]}}</span> 
            <span class="info-box-text">{{cubesData[2]}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </div>
    </div>
  </div>
</div>