<section class="content-header">
  <app-statics [titleStat]="titleStat" [stat]="stat" [valStat]="valStat" [icon]="icon"></app-statics>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-6">
      <div class="box box-primary">
        <div class="box-body">
          <div class="contents">
            <div class="box-header with-border">
              <h3 class="box-title" style="width: 100%;">
                <b>Companies: </b>
              </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="padding-bottom: 0px;">
              <app-details-list (deleteX)="deleteCompany($event)" [title]="title" [dataListIcons]="dataListIcons" [dataListKeys]="dataListKeys"
                [dataList]="dataList"></app-details-list>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <app-details-cubes [cubesTitle]="cubesTitle" [cubesData]="cubesData"></app-details-cubes>
    </div>
  </div>

  <div class="details-contents">
    <div>
      <div class="row">
        <button class="btn btn-primary" style="margin-left: 14px; margin-bottom: -19px">Representants: {{dataRepresentants.length}}</button>
        <app-table [createLink]="createLink" [title]="titleForEditRepresentant" [colTitles]="colTitlesR" [keys]="keyRepresentatnts"
          [data]="dataRepresentants" (deleteX)="deleteRepresentant($event)"></app-table>
        <button type="button" style="float: right; margin: -30px 15px 15px 0px" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add New</button>
      </div>
      <div class="row">
        <button class="btn btn-primary" style="margin-left: 14px; margin-bottom: -19px">Events: {{dataEvents.length}}</button>
        <app-table [title]="titleForEditEvent" [canBeDesactivated]="false" [colTitles]="colTitlesE" [keys]="keyEvents" [data]="dataEvents"
          (deleteX)="deleteEvent($event)"></app-table>
      </div>
      <div class="row">
        <button class="btn btn-primary" style="margin-left: 14px; margin-bottom: -19px">Accounts: {{dataAccounts.length}}</button>
        <app-table [title]="titleForEditAccount" [colTitles]="colTitlesA" [keys]="keyAccounts" [data]="dataAccounts" (deleteX)="deleteAccount($event)"></app-table>
      </div>
    </div>
  </div>
</section>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Representant:</h4>
      </div>
      <div class="modal-body">
        <div class="box box-primary">
          <div class="box-body">
            <div class="row">

              <!-- First Name Field -->
              <div class="form-group col-sm-6">
                <label for="first_name">First Name:</label>
                <input class="form-control" required="" name="first_name" type="text" [(ngModel)]="representant.firstName">
              </div>

              <!-- Last Name Field -->
              <div class="form-group col-sm-6">
                <label for="last_name">Last Name:</label>
                <input class="form-control" required="" name="last_name" type="text" id="last_name" [(ngModel)]="representant.lastName">
              </div>

              <!-- Email Field -->
              <div class="form-group col-sm-6">
                <label for="email">Email:</label>
                <input class="form-control" required="" name="email" type="email" id="email" [(ngModel)]="representant.email">
              </div>

              <!-- Phone Field -->
              <div class="form-group col-sm-6">
                <label for="phone">Phone:</label>
                <input class="form-control" name="phone" type="text" [(ngModel)]="representant.phone">
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" [disabled]="representant.phone==null || representant.firstName==null || representant.lastName==null || representant.email==null"
          (click)="OnSubmit()" type="submit" class="btn btn-success" style="margin-left: 20px">ADD</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
