<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->


    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">DATA</li>
      <li>
        <a routerLink="/dashboard">
          <i class="fa fa-fw fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/events">
          <i class="fa fa-fw fa-list"></i>
          <span>Events</span>
        </a>
      </li>
      <li>
        <a routerLink="/machines">
          <i class="fa fa-fw fa-gears"></i>
          <span>Booths</span>
        </a>
      </li>
      <li>
        <a routerLink="/templates">
          <i class="fa fa-fw fa-folder-open"></i>
          <span>Templates</span>
        </a>
      </li>

      <li class="header">Clients</li>
      <li>
        <a routerLink="/companies">
          <i class="fa fa-fw fa-building"></i>
          <span>Companies</span>
        </a>
      </li>
      <li>
        <a routerLink="/contacts">
          <i class="fa fa-fw fa-envelope"></i>
          <span>Contacts</span>
        </a>
      </li>
      <li>
        <a routerLink="/errors">
          <i class="fa fa-fw fa-exclamation"></i>
          <span>Errors</span>
        </a>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>