<h3>Event</h3>
<div class="box box-primary">
  <div class="box-body">
    <div class="row">
      <form method="POST" action="http://localhost:8000/events/create" accept-charset="UTF-8">
        <input name="_token" type="hidden" value="f6AnL61DchpCs2oiwXXPJQgMD53VLzgifPAWgbqn">

        <!-- Name Field -->
        <div class="form-group col-sm-12">
          <label for="name">Name:</label>
          <input class="form-control" required="" name="name" type="text" id="name">
        </div>

        <!-- Subject Field -->
        <div class="form-group col-sm-12">
          <label for="subject">Activity:</label>
          <input class="form-control" name="subject" type="text" id="subject">
        </div>

        <!-- Location Field -->
        <div class="form-group col-sm-12">
          <label for="location">Location:</label>
          <input class="form-control" required="" name="location" type="text" id="location">
        </div>

        <!-- Email Template Field -->
        <div class="form-group col-sm-12">
          <label for="email_template_id">Email Template:</label>
          <input class="form-control" name="email_template_id" type="text" id="email_template_id">
        </div>

        <!-- Description Field -->
        <div class="form-group col-sm-12 col-lg-12">
          <label for="description">Description:</label>
          <textarea class="form-control" name="description" cols="50" rows="10" id="description"></textarea>
        </div>

      </form>
    </div>
  </div>
</div>