<h3>Add New Participant</h3>
<div class="box box-primary">
  <div class="box-body">
    <div class="row">
      <!-- Email Field -->
      <div class="col-sm-6">
        <div class="form-group col-sm-12">
          <label for="email">Email:</label>
          <input class="form-control" name="email" type="email" [(ngModel)]="email">
        </div>

        <!-- Name Field -->
        <div class="form-group col-sm-12">
          <label for="name">Name:</label>
          <input class="form-control" name="name" type="text" [(ngModel)]="name">
        </div>

        <!-- Last Name Field -->
        <div class="form-group col-sm-12">
          <label for="last_name">Last Name:</label>
          <input class="form-control" name="last_name" type="text" [(ngModel)]="lastName">
        </div>

        <!-- Age Field -->
        <div class="form-group col-sm-12">
          <label for="age">Age:</label>
          <input class="form-control" name="age" type="number" [(ngModel)]="age">
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Gender Field -->
        <div class="form-group col-sm-12">
          <label for="gender">Gender:</label>
          <br>
          <label class="radio-inline">
            <input name="gender" type="radio" value="0" [(ngModel)]="gender"> Male
          </label>

          <label class="radio-inline">
            <input name="gender" type="radio" value="1" [(ngModel)]="gender"> Femelle
          </label>

        </div>
        <!-- Phone Field -->
        <div class="form-group col-sm-12">
          <label for="phone">Phone:</label>
          <input class="form-control" name="phone" type="text" [(ngModel)]="phone">
        </div>
        
        <div id="event_id_field" class="form-group col-sm-12">
          <label for="event_id">Event:</label>
          <select class="form-control" id="event_id" [(ngModel)]="event">
            <option *ngFor="let event of events" value={{event.id}}>{{event.name}}</option>
          </select>
        </div>

      </div>
      <!-- Submit Field -->
      <div class="form-group col-sm-12">
        <button (click)="Update()" type="submit" class="btn btn-success" style="margin-left: 20px">Update</button>
        <button (click)="back()" class="btn btn-default" style="margin-left: 5px">Cancel</button>
      </div>

    </div>
  </div>
</div>