<div class="row">
  <div class="col-sm-3">
    <a routerLink="/{{titleStat[0]}}">
      <div class="small-box bg-red" style="padding-bottom: 10px;">
        <div class="inner">
          <h3>{{valStat[0]}}</h3>
          <p>{{stat[0]}}</p>
        </div>
        <div class="icon">
          <i class={{icon[0]}}></i>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-3">
    <a routerLink="/{{titleStat[1]}}">
      <div class="small-box bg-blue" style="padding-bottom: 10px;">
        <div class="inner">
          <h3>{{valStat[1]}}</h3>
          <p>{{stat[1]}}</p>
        </div>
        <div class="icon">
          <i class={{icon[1]}}></i>
        </div>
      </div>
    </a>
  </div>

  <div *ngIf="valStat.length>2" class="col-sm-3">
    <a routerLink="/{{titleStat[2]}}">
      <div class="small-box bg-green" style="padding-bottom: 10px;">
        <div class="inner">
          <h3>{{valStat[2]}}</h3>
          <p>{{stat[2]}}</p>
        </div>
        <div class="icon">
          <i class={{icon[2]}}></i>
        </div>
      </div>
    </a>
  </div>
  <div *ngIf="valStat.length>3" class="col-sm-3">
    <a routerLink="/{{titleStat[3]}}">
      <div class="small-box bg-aqua" style="padding-bottom: 10px;">
        <div class="inner">
          <h3>{{valStat[3]}}</h3>
          <p>{{stat[3]}}</p>
        </div>
        <div class="icon">
          <i class={{icon[3]}}></i>
        </div>
      </div>
    </a>
  </div>
</div>