<div style="background-image: url(../assets/images/background.jpg.jpg);" class="body"></div>
<div class="grad"></div>
<div class="header">
  <div>Robo
    <span>graf</span>
  </div>
</div>
<br>

<form class="login" #loginForm=ngForm>
  <input type="text" placeholder="email" name="email" [(ngModel)]="form.email" required>
  <br>
  <input type="password" placeholder="password" name="password" [(ngModel)]="form.password" required>
  <br>
  <input (click)="onSubmit()" type="button" value="Login" [disabled]="!loginForm.valid">
  <input type="button" value="Register" routerLink="/signup">
</form>