<h3>Representant</h3>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#new" role="tab" data-toggle="tab">Create New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#exist" role="tab" data-toggle="tab">Select Existing</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="new">
    <app-new-client-form (newRepresentantForm)="companyRepresentantSubmit($event)"></app-new-client-form>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="exist">
    <app-existing-client-form (ExistRepresentantForm)="ExistCompanyRepresentantSubmit($event)"></app-existing-client-form>
  </div>

</div>