<div class="box box-primary">
<div class="box-body">
  <div class="row">
    <form method="POST" action="http://localhost:8000/entreprises" accept-charset="UTF-8">
      <input name="_token" type="hidden" value="f6AnL61DchpCs2oiwXXPJQgMD53VLzgifPAWgbqn">

      <!-- Matricule Field -->
      <div class="form-group col-sm-6">
        <label for="matricule">Matricule:</label>
        <input class="form-control" required="" name="matricule" type="text" id="matricule">
      </div>

      <!-- Name Field -->
      <div class="form-group col-sm-6">
        <label for="name">Name:</label>
        <input class="form-control" required="" name="name" type="text" id="name">
      </div>

      <!-- Activity Field -->
      <div class="form-group col-sm-6">
        <label for="activity">Activity:</label>
        <input class="form-control" name="activity" type="text" id="activity">
      </div>

    </form>
  </div>
 
  <hr>

  <div class="row">
    <form method="POST" action="http://localhost:8000/representants" accept-charset="UTF-8">
      <input name="_token" type="hidden" value="f6AnL61DchpCs2oiwXXPJQgMD53VLzgifPAWgbqn">

      <!-- First Name Field -->
      <div class="form-group col-sm-6">
        <label for="first_name">First Name:</label>
        <input class="form-control" required="" name="first_name" type="text" id="first_name">
      </div>

      <!-- Last Name Field -->
      <div class="form-group col-sm-6">
        <label for="last_name">Last Name:</label>
        <input class="form-control" required="" name="last_name" type="text" id="last_name">
      </div>

      <!-- Email Field -->
      <div class="form-group col-sm-6">
        <label for="email">Email:</label>
        <input class="form-control" required="" name="email" type="email" id="email">
      </div>

      <!-- Phone Field -->
      <div class="form-group col-sm-6">
        <label for="phone">Phone:</label>
        <input class="form-control" name="phone" type="text" id="phone">
      </div>
    </form>
  </div>
  </div>  
</div>

