<div class="content">
  <div class="clearfix"></div>


  <div class="clearfix"></div>
  <div class="box box-primary">
    <div class="box-body">
      <table class="table table-responsive" id="machines-table">
        <thead>
          <tr>
            <th *ngFor="let colTitle of colTitles">{{colTitle}}</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data">
            <ng-container *ngFor="let key of keys">
              <td  *ngIf="key !== 'id'">
                <i *ngIf="canBeDesactivated && row['active'] && key==='name' && title==='machines'" class="fa fa-circle text-green" style="margin-right: 2px"></i>
                <i *ngIf="canBeDesactivated && !row['active'] && key==='name' && title==='machines'" class="fa fa-circle text-red" style="margin-right: 2px"></i>
                <a routerLink="/users" *ngIf="key=='author'">{{row[key]}}</a>  
                <span *ngIf="key!=='active' && key!=='author'">{{row[key]}}</span>
                  <span *ngIf="key=='active' && row.active"  style="margin-left: 15px;">
                      Active
                  </span>
                  <span *ngIf="key=='active' && !row.active" class="text-muted" style="margin-left: 15px;">
                      Inactive
                  </span>
              </td>
            </ng-container>
            <td>
              <div class="btn-group">
                <a routerLink="/{{title}}/{{row.id}}" class="btn btn-default btn-xs" style="margin-left: 5px;margin-right: 5px;">
                  <i class="glyphicon glyphicon-info-sign"></i> Details</a>
                <a routerLink="/{{title}}/edit/{{row.id}}" class="btn btn-default btn-xs" style="margin-left: 5px;margin-right: 5px;">
                  <i class="glyphicon glyphicon-edit"></i> Edit</a>

               
                  <button (click)="delete(row)" type="submit" class="btn btn-danger btn-xs" style="margin-left: 5px;margin-right: 5px;">
                  <i class="glyphicon glyphicon-trash"></i> Delete</button>
               
                  <button *ngIf="canBeDesactivated" type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?')">
                  <i class="glyphicon glyphicon-off"></i> Deactivate</button>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <hr>
      </div>
    </div>
  </div>
  <a  routerLink={{createLink}} class="btn btn-primary" *ngIf="canAddNew" style="float: right;">ADD NEW</a>
</div>