<h3>Account</h3>
<div class="box box-primary">
  <div class="box-body">
    <div class="row">

        <div class="col-sm-6">
          <!-- Username Field -->
          <div class="form-group col-sm-12">
            <label for="username">Username:</label>
            <input class="form-control" required="" name="username" type="text" value="8b9ad7d6f3" [(ngModel)]="account.username">
          </div>

          <!-- Password Field -->
          <div class="form-group col-sm-12">
            <label for="password">Password:</label>
            <input class="form-control" required="" name="password" type="text" value="d6c6cd716dc6a59f" [(ngModel)]="account.password">
          </div>



        </div>
        <div class="col-sm-6">
          <!-- Permissions Field -->
          <div class="form-group col-sm-12">
            <label for="permissions">permissions:</label>
            <div *ngFor="let permission of permissions">
              <input id ="permissions_permission.id" value="permission.id" [(ngModel)]="AccountPermissions"  type="checkbox" >
              <label for="AccountPermissions" >{{permission.name}}</label>
            </div>
          </div>
        </div>

    </div>
    <button class="btn btn-primary" (click)="send()" style="margin-left: 5px; margin-bottom: 5px">Submit</button>
  </div>
</div>